:root {
  --sideBar: #090d12;
  --mainPage: #121c27;
  --mainText: #f2f4f7;
  --secondaryText: #a7afbb;
  --borders: #252d38;
  --buttonBorder: #5b6c85;
  --activeButton: #17233d;
  --activeText: #3f6df6;
  --hoverButton: #232528;

  --borderRadius: 0.5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-drag: none;
  user-select: none;
}

body {
  background-color: var(--mainPage);
  font-family: sans-serif;
}

/* Homepage layout */
.home-page {
  display: flex;
  min-height: 100vh;
}

.home-main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

/* Sidebar */
.home-sidebar {
  display: flex;
  flex-direction: column;
  width: 270px;
  min-height: 100vh;
  background-color: var(--sideBar);
  border-right: 1px solid var(--borders);
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

/* Caderact logo */
.home-sidebar img {
  width: 2rem;
}

h1 {
  color: var(--mainText);
  font-size: 1.5rem;
}

.caderact-logo {
  display: flex;
  align-items: center;
  padding-left: 1rem;
  gap: 0.8rem;
  text-decoration: none;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}
/* Sidebar navigation */
.home-sidebar nav {
  display: flex;
  flex: 1;
}

.sidebar-list {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1rem;
}

.sidebar-list a,
.sidebar-list p {
  text-decoration: none;
  color: var(--secondaryText);
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 1rem;
  list-style: none;
}

.sidebar-list a:hover {
  background-color: var(--hoverButton);
  border-radius: var(--borderRadius);
}

/* Home active state */
.sidebar-list .nav-active {
  background-color: var(--activeButton);
  border-radius: var(--borderRadius);
  color: var(--activeText);
}

/* SVG Styles */

.sidebar-list a svg {
  width: 1.5rem;
  height: 1.5rem;
}

/* Help Separator */

.sidebar-list .help-button {
  margin-top: auto;
  position: relative;
}

.sidebar-list .help-button::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -1rem;
  border-top: 1px solid var(--borders);
}

/* Header content */
.home-header {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: flex-end;
  gap: 30px;
  padding: 0 3rem;
}

.home-header .home-notification {
  padding-right: 1.6rem;
  background: transparent;
  border: none;
  border-right: 2px solid var(--borders);
}

.home-profile {
  color: var(--secondaryText);
  font-size: 1rem;
  padding: 10px 20px;
  border: 2px solid var(--buttonBorder);
  border-radius: var(--borderRadius);
  background: transparent;
  cursor: pointer;
}

.home-notification svg {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

/* Main content */
h2 {
  color: var(--mainText);
  font-size: 2.5rem;
  margin-bottom: -0.6rem;
}

.home-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 5rem;
  margin-top: 2rem;
  gap: 2rem;
}

.home-content p {
  color: var(--secondaryText);
  font-size: 1.3rem;
  max-width: 26ch;
}

/* Home Button Styles */

.new-project {
  background-color: var(--activeText);
  color: var(--mainText);
  border: none;
}

.new-project svg {
  width: 30px;
  height: 30px;
}

.import-file {
  color: var(--secondaryText);
  background: transparent;
  border: 1px solid var(--buttonBorder);
}

.import-file svg {
  width: 30px;
  height: 30px;
}

.home-button {
  display: flex;
  gap: 1.5rem;
}
.home-button button {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding: 1rem 1.5rem;
  font-size: 1rem;
  border-radius: var(--borderRadius);
  cursor: pointer;
  height: 50px;
}
